[submodule "thirdparty/helloimgui"]
	path = thirdparty/helloimgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "thirdparty/imguizmo"]
	path = thirdparty/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "thirdparty/implot3d"]
	path = thirdparty/implot3d
	url = https://github.com/brenocq/implot3d.git
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot.git
[submodule "thirdparty/ceres"]
	path = thirdparty/ceres
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "thirdparty/sophus"]
	path = thirdparty/sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "thirdparty/imguifiledialog"]
	path = thirdparty/imguifiledialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "thirdparty/common"]
	path = thirdparty/common
	url = https://github.com/sneakyHulk/common.git
[submodule "thirdparty/msg"]
	path = thirdparty/msg
	url = https://github.com/sneakyHulk/permatracks_msg.git
