[submodule "thirdparty/helloimgui"]
	path = thirdparty/helloimgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "thirdparty/imguizmo"]
	path = thirdparty/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "thirdparty/implot3d"]
	path = thirdparty/implot3d
	url = https://github.com/brenocq/implot3d.git
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot.git
[submodule "thirdparty/ceres"]
	path = thirdparty/ceres
	url = https://github.com/ceres-solver/ceres-solver.git
